@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid" style="padding: 3%; background-color: #D7E4E7">
    <div class="container">
        <div class="col col-sm-4">
            <img src="Images/thumbnail_ravelry3.jpg" class="round mx-auto" height="200">
        </div>
        <div class="col col-sm-2 align-self-center text-center">
            <br /><br /><br /><br /> 
            <h2 style="color: #DE7568">Meet</h2>
        </div>
        <div class="col col-sm-4">
            <img src="/Images/darn_no_back.png" height="200">
        </div>
    </div>
    <br><br>
    <div class="well border" style=" background-color: #F3F4F0">
        <h4 class="text-center">Welcome</h4>
        <hr />
        <br />
        <p class="text-center">Yarn feed is your go to place to get the latest activity of your favorate designers, freinds and more!</p>
        <br><br>
    </div>
</div>
