@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid" style="padding: 3%; background-color: #D7E4E7">
    <div class="container"><img src="Images/thumbnail_ravelry3.jpg" class="round mx-auto" height="200"></div>
    <br><br>
    <div class="container border" style=" background-color: #F3F4F0">
        <h4 class="text-center">Welcome</h4>
        <br />
        <p>Yarn feed is your go to place to get the latest activity of you favorate designers, freinds and more!</p>
        <br><br>
    </div>
</div>
