@model Yarn_Feed.Models.Crafter

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Crafter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IdentityUserId" class="control-label"></label>
                <select asp-for="IdentityUserId" class="form-control" asp-items="ViewBag.IdentityUserId"></select>
                <span asp-validation-for="IdentityUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RavelryUsername" class="control-label"></label>
                <input asp-for="RavelryUsername" class="form-control" />
                <span asp-validation-for="RavelryUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RavelryPassword" class="control-label"></label>
                <input asp-for="RavelryPassword" class="form-control" />
                <span asp-validation-for="RavelryPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RavelryId" class="control-label"></label>
                <input asp-for="RavelryId" class="form-control" />
                <span asp-validation-for="RavelryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentToken" class="control-label"></label>
                <input asp-for="CurrentToken" class="form-control" />
                <span asp-validation-for="CurrentToken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TokenUpdated" class="control-label"></label>
                <input asp-for="TokenUpdated" class="form-control" />
                <span asp-validation-for="TokenUpdated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoTinyURL" class="control-label"></label>
                <input asp-for="PhotoTinyURL" class="form-control" />
                <span asp-validation-for="PhotoTinyURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoSmallURL" class="control-label"></label>
                <input asp-for="PhotoSmallURL" class="form-control" />
                <span asp-validation-for="PhotoSmallURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastLoggedIn" class="control-label"></label>
                <input asp-for="LastLoggedIn" class="form-control" />
                <span asp-validation-for="LastLoggedIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShowLastLoggin" class="control-label"></label>
                <input asp-for="ShowLastLoggin" class="form-control" />
                <span asp-validation-for="ShowLastLoggin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
